<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
		<script type="text/javascript" th:src="@{/js/edit.js}"></script>
        <title>Stereoscopics</title>
         <script>
tinymce.init({
  selector: 'textarea',
  height: 500,
  theme: 'modern',
  toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
  image_advtab: true
 });
 
 
  </script>

	</head>
	
	<body>

	   <nav class="navbar navbar-findcond navbar-fixed">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="font-size: 48px; text-shadow: 4px 4px 4px #aaa;" href="thisiswhereyourlinkgoes">Stereoscopics</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Browse Journal </a></li>
					<li class="active"><a href="#">Browse Blog </a></li>
					<li class="active"><a href="#">Submit Article</a></li>
					<li class="active"><a href="#">About</a></li>
				</ul>
			</div>
		</div>
		</nav>
		<center><h2>Submitting a blogpost (via Tiny MCE)</h2></center>
			 
	 	<h1>Form</h1>
    	<form id="#form-data" action="#" th:action="@{/blogposts/updateBlogPost}" th:object="${blogPost}" method="post">
    	<p>Title: <input type="hidden" th:value="*{id}"  th:field="*{id}" /></p>
    	<p>Title: <input type="text" th:value="*{title}"  th:field="*{title}" /></p>
        <p>Author: <input type="text" th:value="*{author}"  th:field="*{author}"/></p>
        <p>Content: <input type="hidden" th:value="*{content}"  th:field="*{content}"/></p>  <!–– add JS button to show content with warning?––> 
        <textarea  name="blogPost" th:value="*{content}"  th:field="*{content}">
		</textarea></p>
        <p>Date: <input type="text" th:value="*{date}"  th:field="*{content}"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        
        
        
        <script  type="text/javascript">
		alert("connected to js");

		var content = "<p>Hello World</p>";

		tinyMCE.activeEditor.setContent('<span>some</span> html');
</script>
   <br>
   <br>
   <br>
   <br>  
   <h2>This is the Blog Post you are currently editing:</h2>
   <br>
   <br>
   <br>
   <br>
   <table>
   	<tr/>
		
			<td th:value="*{title}"></td>
			<td th:text="*{author}"></td>
			<td th:text="*{date}"></td>
			<div id="editBlogContent"><td th:utext="*{content}"></td></div>
		</tr>
   </table>
    </form>

	 

	 
	 
    </body>
</html>
