<!DOCTYPE html>
<html lang="en"><head>
	<head>
		<meta http-equiv="X-UA-Compatible" content="text/html; charset=UTF-8">
		<meta name="description" content="Free Academic Journal">
		<meta name="keywords" content="Free Academic Journal, Academia, Scholarly Sources">
		<meta name="author" content="David Kolesar">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- imports boostrap core styles -->
		<link href="config/bootstrap.css" rel="stylesheet">
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="config/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<!-- Custom styles -->
		<link href="config/stereoscopicsStyleHome.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet"> 
		<title>Stereoscopics</title>
		<style>
		</style>
	</head>
	
	<body>

<div class="wrapper"></div>
	   <nav class="navbar navbar-findcond navbar-fixed>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="font-size: 48px; text-shadow: 4px 4px 4px #aaa;" href="thisiswhereyourlinkgoes">Stereoscopics</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Browse Journal </a></li>
					<li class="active"><a href="#">Browse Blog </a></li>
					<li class="active"><a href="#">Submit Article</a></li>
					<li class="active"><a href="#">About</a></li>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	
	<div id="container">
		<h2>Get Your Daily Quote</h2>
			<div id="quoteContainer">
				<p></p>
				<p id="quoteGenius"></p>			
			</div><!--end quoteContainer-->
			


	</div><!--end container-->
	
	
	
		<div class="quote"><p>"Lorem ipsum dolet ir espiritu sancto" - Secut Erat</p></div>



		<!-- Bootstrap core JavaScript-->
		<script src="Starter%20Template%20for%20Bootstrap_files/jquery.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="Starter%20Template%20for%20Bootstrap_files/bootstrap.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="Starter%20Template%20for%20Bootstrap_files/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
